body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 1px;
}

.bgap-wallpaper {
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bgap-main {
    max-width: 80%;
}

.bgap-navigation {
    padding: 20px 0;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.gba-main-controls {
    text-align: center;
}

.bgap-navigation__play {
    border: 0;
    background: #303030;
    color: white;
}
